.App {
    display: flex;
    background-color: #282c34;
    color: white;
    min-height: 100vh;
}

.AppLogo {
    line-height: 29px;
    float: left;
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 48px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 200px;
}

.AppHeader {
    padding: 0px;
}

.AppContent {
    min-height: 100vh;
    padding: 24px;
    margin: 0;
}